.bg-info {
  background-color: #540109 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.btn-outline-primary {
  color: white;
  border-color: #adb5bd;
}
.search-button {
  background-color: #540109;
  margin-right: 0.5em;
}
.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 0;
}
.nav-btn {
  width: 100%;
}
@media screen and (max-width: 325px) {
  .search-button {
    display: none;
  }
}

@media screen and (min-width: 575px) {
  .form-inline .form-control {
    width: 8em;
  }
}
@media screen and (max-width: 575px) {
  .form-inline .form-control {
    width: 87%;
    margin: auto;
  }
}
.card-footer {
  color: black;
}
.card-img {
  height: fit-content;
}
.card-body {
  box-shadow: 5px 5px 5px grey;
}

.btn-outline-primary:hover,
.search-button:hover {
  background-color: whitesmoke;
  color: #540109;
  border-color: #721c24;
}
thead {
  background-color: #540109;
  color: white;
}
.header-container {
  margin-bottom: 1em;
}
.favourite-tag {
  font-size: x-large;
}
[aria-colindex="4"] {
  font-size: 1.5em;
  line-height: 1;
}
.edit-favourite {
  border-bottom: solid;
  border-width: thin;
  border-color: grey;
}
.fa-trash {
  color: red;
}
.fa-edit {
  color: #540109;
}

.btn-primary {
  color: #540109;
  border-color: #540109;
  background-color: white;
}
[aria-colindex="4"] {
  font-size: medium;
}
.btn-metadata {
  color: #721c24;
  background-color: #f8f9fa;
  border-color: #721c24;
}
.btn-metadata:hover {
  background-color: #540109;
}
.form-buttons {
  float: right;
}
.cancel-form {
  margin-right: 0.5em;
}
.btn-favourite {
  color: white;
  background-color: #540109;
}
.add-metadata-btn.btn-primary:hover {
  color: white;
  background-color: #721c24;
}
.favourite-form {
  width: 85%;
  margin: auto;
}
.new-metadata {
  margin: auto;
}
.card {
  height: 200px;
}

.card-body {
  background-color: #540109;
}

.manage-groups {
  float: right;
  margin-top: 1em;
}
.col {
  margin-bottom: 9em;
}
@media screen and (max-width: 575px) and (min-width: 490px) {
  .col {
    margin-bottom: 28em;
  }
}

@media screen and (max-width: 490px) and (min-width: 426px) {
  .col {
    margin-bottom: 22em;
  }
}

@media screen and (max-width: 426px) and (min-width: 370px) {
  .col {
    margin-bottom: 18em;
  }
}

@media screen and (max-width: 370px) {
  .col {
    margin-bottom: 15em;
  }
}
.btn.btn-primary.btn-sm:hover {
  background-color: antiquewhite;
}
.table thead th {
  padding-left: 0.3em;
}
.table thead th:last-child {
  padding-left: 1em;
}

[aria-colindex="4"] {
  line-height: inherit;
}
.navbar-dark .navbar-brand {
  margin-left: 2em;
}
.app-container {
  margin-top: 6em;
  /* background-color: #b2b2b2; */
}
/* MENU STYLES */
.bm-burger-button {
  position: fixed;
  width: 1.5em;
  height: 1.5em;
  left: 10px;
  top: 20px;
  cursor: pointer;
  z-index: 100000000;
}
.bm-burger-bars {
  background-color: white;
}
.line-style {
  position: absolute;
  height: 10%;
  left: 0;
  right: 0;
}
.cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10000000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(63, 63, 65); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-item-list {
  color: #b8b7ad;
  margin-left: 10%;
  font-size: 20px;
  padding-right: 1.5em;
}
.bm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 0.7em;
}
.bm-item-list > * > span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
}

/* MENU STYLES END */

#attribute-table .table th,
.table td {
  padding-left: 1em;
}
#attribute-table th {
  padding-left: 1em;
}
#delete-modal___BV_modal_body_ {
  color: red;
}
.log-control {
  margin-bottom: 2em;
  box-shadow: 5px 5px 5px grey;
  background-color: #540109;
  color: white;
  padding: 1em;
  text-align: left;
}

#favourites-table th {
  padding: 1em;
}
.table.b-table th {
  padding-left: 1em;
}
